/* Blog Section */
#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

/* Grid Layout for Blog Posts */
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-box {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #c74242;
    transition: all ease 0.3s;
}








.blog-post {
    display: flex;
    margin-bottom: 50px;
}

.blog-post-image {
    flex: 0 0 30%;
    margin-right: 20px;
}

.blog-post-image img {
    width: 100%;
    border-radius: 5px;
}

.image-caption {
    font-style: italic;
    text-align: center;
}

.blog-post-content {
    flex: 1;
}

.post-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.post-date {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
}

.post-description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #555;
}










@media(max-width: 1250px) {
    .blog-box {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .blog-box {
        width: 100%;
    }
}
